* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Helvetica Neue", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calculator {
    height: 740px;
    width: fit-content;
    background: black;
    border-radius: 50px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
  }
  .display {
    /* border: 2px solid red; */
    height: 250px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .button-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .button {
    user-select: none;
    width: 80px;
    height: 80px;
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    cursor: pointer;
  }
  .sarı {
    background-color: #F1A33C;
  }
  .gri {
    background-color: #A5A5A5;
    color: black;
  }
  .n0 {
    grid-column: 1 / span 2;
    width: 170px;
    border-radius: 50px;
    justify-content: flex-start;
    padding-left: 40px;
  }
  .button:hover {
    opacity: 0.5;
  }